<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body>

    <!--
    <nav class="navbar navbar-expand-md navbar-light bg-light mb-4">
          <a class="navbar-brand" href="/">AAV</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
              <li><a class="nav-link" href="/blog/">Blog</a></li>
              <li><a class="nav-link" href="/reference/">Reference</a></li>
            </ul>
          </div>
        </nav>
    -->

    <div class="container" role="main">
        <div class="page-header">
            <h1><a href="{{ site.baseurl }}/" title="Home">{{ site.title }}</a> <small>{{ site.tagline }}</small></h1>
        </div>
        {{ content }}
    </div>
    {% include scripts.html %}
</body>
